<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">


  	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	
	<link rel="stylesheet" href="css/home.css">

  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<script type="js/javascript" src="/scripts/app.js"></script>

	<title>KingWear Home</title>
</head>
<body>

<header>
	<div class="topnav" id="myTopnav">
	  <a href="/home" class="active">Home</a>
	  <a href="/main">Main</a>
	  <a href="/signup">Signup</a>
	  <a href="/login">Login</a>
	  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
	</div>
	<div>

		<h1>Welcome to KingWear</h1>
			<article>
				<h4>Search for the kicks you love...</h4>
			</article>

	</div>
	<div>
		<h3>Get Started</h3>

	<a href="/signup"><button id="signupbtn" class="login btn btn-primary">Sign Up</button></a>

		
	</div>

		
</header>
		
	
		


</body>
</html>