<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">


  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="css/login.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <title>Login</title>
</head>
<body>
	<div class="topnav" id="myTopnav">
	  
	  <a href="/main">Main</a>
	  <a href="/signup">Signup</a>
	  <a href="/login">Login</a>
	  <a href="/profile">Profile</a>
	  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
	</div>
	<header>
	
	<h1>Login</h1>
	<form id="login-form">

			<input id="email-input" type="email" class="form-control" placeholder="Email">
			<br>
			<input id="pass-input" name="password" class="form-control" placeholder="Password">
			<br>
			<input id="login-button" type="submit" value="Log In" class="login btn btn-primary">
			<br>


		<a href="/signup" id="log-option" class="login btn btn-primary">Sign Up</a>

	</form>	
	</header>
					
	<script  src="/scripts/app.js"></script>
</body>
</html>