<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" href="css/main.css">
	
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<title>KingWear</title>
</head>

<body>
	<div class="topnav" id="myTopnav">
	  <a href="/main">Main</a>
	  <a href="/Signup">Signup</a>
	  <a href="/login">Login</a>
	  <a href="/profile">Profile</a>
	  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
	</div>
<header>

	<div>
		<h1>Welcome to KingWear</h1>
			<article>
				<h4>Search for the shoes you love!</h4>
			</article>
	</div>
	<div class="nav-scroller py-1 mb-2">
		<div class="nav d-flex justify-content-between">
			<script id="save-button">
      (function() {
      var cx = '003003275421639491016:awxrog0a2rw';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;

      var s = document.getElementsByTagName('script')[0];
      console.log(s);
      s.parentNode.insertBefore(gcse, s);
      })();
    </script>
		</div>
	</div>
<gcse:searchbox></gcse:searchbox>
<gcse:searchresults defaultToImageSearch="true"></gcse:searchresults>
</div>
</header>
<script src="/scripts/app.js"></script>
<script src="/scripts/shoeapp.js"></script>
</body>
</html>